.header__top{
   background-color: #1e1e1e;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 41px;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    display: flex;
    align-items: center;
    padding-right: 23px;
    position: relative;
}

.nav__item::after{
    content: "/";
    position: absolute;
    font-size: 10px;
    color:#5c5c5c;
    bottom: 1px;
    right: 8px;
}

.nav__item:last-child::after{
    display: none;
}

.nav__link{
    font-size: 12px;
    font-weight: 600;
    color:#5c5c5c;
    transition: color .3s;
}

.nav__link:hover{
    color:#808080;
}

.header__top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DROPDOWN CHOOSE LANGUAGE */

.lang-menu{
    width: 140px;
    font-size: 12px;
    font-weight: 600;
    color: #808080; 
    margin-right: 5px;
    position: relative;
    transition: display .10s;
}

.lang-menu--arrow::after{
    content: "";
    position: absolute;
    right: 22px;
    top: 12px;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #5c5c5c;
    border-right: 2px solid #5c5c5c;
    transform: rotate(45deg);
    transition: transform .5s;
    z-index: 0;
}

.lang-menu__selected-lang{
    width: 100%;
    padding: 9px 0 9px 34px;
    background-color: #232323;
    border-radius: 2px;
    top: 1px;
    cursor: pointer;
}

.lang-menu__choice{
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #232323; 
    border-radius: 0 0 5px 5px;  
    overflow: hidden;
    z-index: 1;
    transition: all .5s;
}

.lang-menu__item:nth-last-child(2n+1){
   background-color: #282828;
}

.lang-menu__link{
    position: relative;
    width: 100%;
    padding: 9px 0 9px 34px;
    transition: all .3s;
}

.lang-menu__link::before{
    content: "";
    position: absolute;
    left:14px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
}

.lang-menu__link-it::before{
    background-image: url(/icons/icon_lang/italy.svg);
}

.lang-menu__link-nl::before{
    background-image: url(/icons/icon_lang/netherlands.svg);
}

.lang-menu__link-no::before{
    background-image: url(/icons/icon_lang/norway.svg);
}

.lang-menu__link-pl::before{
    background-image: url(/icons/icon_lang/poland.svg);
}

.lang-menu__link-de::before{
    background-image: url(/icons/icon_lang/germany.svg);
}

.lang-menu__link-ru::before{
    background-image: url(/icons/icon_lang/russia.svg);
}

.lang-menu__link:hover{
    color: #afafaf;
}

.lang-menu.lang-menu--click.lang-menu--arrow:after{
    transform: rotate(225deg);
}

.lang-menu.lang-menu--click .lang-menu__choice{
    height:228px;
}

/* WISHLIST */

.wishlist{
    display: flex;
    padding: 9px 14px 9px 14px;
    background-color: #232323;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 600;
    color: #808080;
    margin-right: 140px;
}

.wishlist--true .wishlist__icon{
    fill: #c52f2f;

}

.wishlist__margin{
    margin-right: 140px;
}

.wishlist__icon{
    width: 12px;
    max-height: 14px;
    margin-right: 7px;
    fill:  #808080;
}
/* SOCIAL_ICONS */

.icon{
    display: flex;
}

.social__item + .social__item{
    margin-left: 17px;
}

.social-icon{
    width: 15px;
    max-height: 20px ;
    fill: #434343;
    transition: .3s;
}

.social-icon-fb{
    width: 9px;
}

.social-icon:hover{
    fill: #3057d6;
}

/* HEADER BOTTOM */

.header__bottom{
    border-bottom: 1px solid #eeeeee;
}

.header__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 73px;
}

/* LOGO */

.logo__img{
    max-height: 27px;
    max-width: 144px;
}


.logo__margin{
    margin-right: 59px;
}

/* MENU */

.categories__list{
    display: flex;
    align-items: center;
}

.categories__item{
    position: relative;
    margin-right: 33px;
    display: flex;
    align-items: center;
}

.categories__item:nth-child(2){
    margin-right: 23px;
}

.categories__item--arrow::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    right: -12px;
    top: 3px;
    border-right: 2px solid #bebebe;
    border-bottom: 2px solid #bebebe;
    transform: rotate(45deg);
}

.categories__link{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

/* MEGA MENU */

.categories__mega-menu{
    position: absolute;
    top: 100%;
    transform: translateX(-17%);
    padding-top: 21px;
    width: 1170px;
    max-height: 468px;
    display: none;
    z-index: 1;
}

.categories__mega-menu-inner{
    position: relative;
    display: flex;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    border-radius: 5px;
    padding: 27px 20px 25px 20px;
    z-index: 5;
}

.categories__mega-menu-inner .card{
    border: 2px solid #e3e3e3;
}

.categories__mega-menu-inner::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 18%;
    transform: translateX(42%) rotate(45deg);
    width: 13px;
    height: 13px;
    background-color: #fff;
}

.categories__mega-menu-content{
    width: 50%;
    max-height: 468px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.categories__mega-menu-items{
    margin-bottom: 20px;
    width: 33.33%;
}

.categories__mega-menu-title{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.categories__mega-menu-item:not(:last-child){
    margin-bottom: 5px;
}

.categories__mega-menu-link{
    position: relative;
    font-size: 11px;
    color: #5c5c5c;
    transition: color .3s;
}

.categories__mega-menu-link--sale::after{
    content: "";
    position: absolute;
    margin-left: 10px;
    width: 34px;
    height: 16px;
    background: url(../image/icon_lang/mods/sale_mod.svg) no-repeat;
}

.categories__mega-menu-link--new::after{
    content:"";
    position: absolute;
    margin-left: 10px;
    width: 34px;
    height: 16px;
    background: url(../image/icon_lang/mods/new_mod.svg)no-repeat;
}

.categories__mega-menu-link:hover{
    color: #0c0c0c;
}

.categories__mega-menu-link::before{
    content: "";
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #fedd03;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.05);
    transition: all .5s;
}

.categories__mega-menu-link:hover::before{
    right: auto;
    left: 0;
    width: 100%;
}

.categories__item:nth-child(1).categories__item--opened .categories__mega-menu{
    display: block;
}

.categories__item:hover .header__bottom-inner{
    background-color: #1e1e1e;
}

/* simple menu */

.categories__simple-menu{
    position: absolute;
    top: 100%;
    left: -8px;
    width: 210px;
    padding-top: 21px;
    display: none;
    z-index: 1;
}

.categories__item:hover .categories__simple-menu{
    display: block;
}

.categories__simple-menu-content{
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    border-radius: 5px;
}

.categories__simple-menu-content::before{
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 10%;
    width: 12px;
    height: 12px;
    transform: translateY(-50%) rotate(45deg);
}

.categories__simple-menu-item {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
}

.categories__simple-menu-item--arrow::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #cfcfcf;
    border-right: 2px solid #cfcfcf;
    transform: translateY(-50%) rotate(45deg);
    transition: all .3s;
}

.categories__simple-menu-item--arrow:hover::after{
    border-color: #d04942;
}

.categories__simple-menu-link {
    font-size: 11px;
    color: #5c5c5c;
    width: 100%;
    padding: 13px 0px 13px 14px;

}
.categories__simple-menu-sub {
    position: absolute;
    top: 0;
    left: 110%;
    width: 210px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    background-color: #fff;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.categories__simple-menu-sub-item {
    border-bottom: 1px solid #e8e8e8;
}

.categories__simple-menu-sub-link {
    font-size: 11px;
    color: #5c5c5c;
    width: 100%;
    padding: 13px 0px 13px 14px;
}

.categories__simple-menu-item:hover .categories__simple-menu-sub{
    visibility: visible;
    opacity: 1;
    left: 95%;
}

.header__bottom-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
}

/* SEARCH */

.search-box {
    position: relative;
}

.search-box__icon{
    fill: #585454;
    width: 15px;
    height: 15px;
    transition: fill .5s;
}

.search-box__margin{
    margin-right: 30px;
}

.search-box__container{
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 35px;
    height: 43px;
    box-shadow: none;
    transition: all .5s;
}

.search-box__input {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    width: 0px;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    transition: width .5s, padding .5s;
}

.search-box__input::placeholder{
    color: transparent;
    font-family: 'Montserrat-Regular';
    font-weight: 600;
    transition: color .5s;
}

.search-box__container:hover{
    box-shadow: 5px 4px 5px -1px rgba(0,0,0,0.2) inset;
}

.search-box__container:hover .search-box__input::placeholder{
    color: rgb(165, 165, 165);
}

.search-box__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    border: 5px solid transparent;
    transition: border-color .5s;
    
}

.search-box__container:hover{
    background-color: rgb(235, 246, 250);
}

.search-box__container:hover .search-box__input{
    padding-left: 20px;
    width: 240px;
}

.search-box__container:hover .search-box__btn{
    border-color: #fff;
}

.search-box__container:hover .search-box__icon{
    /* border-color: #c2c2c2; */
    fill: rgb(55, 99, 221);
}

/* LOGIN */

.login {
    position: relative;
    display: flex;
    align-items: center;
}

.login__margin{
    margin-right: 29px;
}

.login__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.login__wrapper{
    position: absolute;
    top: 100%;
    padding-top: 20px;
    right: -80px;
    display: none;
    z-index: 1;
}

.login:hover .login__wrapper{
    display: block;
}

.login__form {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.05);
    border-radius: 5px;
}

.login__form::before{
    content: "";
    position: absolute;
    top: 0;
    right: 100px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    transform: rotate(45deg) translateY(-70%);
}

.login__form-inner{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding: 23px 17px 19px 17px;
}

.login__form-autorization {
    font-size: 12px;
    margin-bottom: 20px;
}

.login__form-input {
    width: 286px;
    height: 34px;
    font-family: 'Montserrat-Regular';
    padding: 0 13px;
    border: 2px solid #e8ebf1;
    border-radius: 35px;
    outline: none;
}

.login__form-input::placeholder{
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 10px;
    font-weight: 600;
    color: #92969f;
}

.login__form .login__form-input:nth-child(2){
    margin-bottom: 16px;
}

.login__form .login__form-input:nth-child(3){
    margin-bottom: 29px;
}

.login__form-social-network-title {
    font-size: 14px;
    margin-bottom: 19px;
}
.login__form-social-icons {  
    display: flex;
    margin-bottom: 0px;
}
.login__form-social-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.login__form-social-icon + .login__form-social-icon{
    margin-left: 14px;
}

.login__social-icon-fb {
    background-color: #034c90;
}
.login__social-icon-tw {
    background-color: #157cdb;
}
.login__social-icon-goo {
    background-color: #cf4f09;
}
.login__social-icon-pin {
    background-color: #ad3030;
}

.login__form .login__form-inner:nth-child(2) {
    background-color: #f8f5ef;
    border-top: 2px solid #eae4d7;
}

.login__form-btn-login {
    border: none;
    height: 47px;
    background-color: #ffde00;
    border-radius: 35px;
    cursor: pointer;
    color: #282828;
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 20px;
    outline: none;
}
.login__form-link-reg {
    text-transform: none;
    text-align: center;
    font-size: 13px;
    color: #034c90;
    font-weight: 700;
}

/* CART */

.cart{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 12px;

}

.cart__text {
    text-transform: uppercase;
    margin-right: 7px;
}

.cart__text::after{
    content: "/";
    padding-left: 7px;
    color: #c2c2c2;
}

.cart__price::after{
    content: "$";
    padding-left: 2px;
}

/* PAGE for Margin BOTTOM */

.page{
    margin-bottom: 30px;
}

/* SECTION PROMO */

.promo__slider{
    max-width: 870px;
    border-radius: 5px;
    overflow: hidden;
}

/* Блок на который дает тень */

.block-shadow::before{ 
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: inset 0px -85px 45px -20px rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    visibility: visible;
}

.promo__inner{
    display: flex;
    justify-content: space-between;
}

.promo__banner{
    position: relative;
}

.promo__img{
    object-fit:contain;
    vertical-align:bottom;
}

.promo__items{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    bottom: 0;
    width: 100%;
    padding: 0 26px 28px 26px;
}

.promo__info{
    color: #fff;
    z-index: 2;
}

.promo__banner-title{
    text-transform: uppercase;
    margin-bottom: 14px;
}

.promo__link{
    position: relative;
    align-self: flex-end;
    color: #282828;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffde00;
    padding: 12px 40px 12px 10px;
    border-radius: 40px;
    z-index: 2;
}

.promo__link::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    right: 10%;
    border-bottom: 2px solid #282828;
    border-right: 2px solid #282828;
    transform: translateY(-58%) rotate(-45deg);
}

.promo__outer{
    display: flex;
    flex-direction: column;
}

.guarantee {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding:22px 20px 22px 20px;
    width: 270px;
    height: 225px;
    margin-bottom: 30px;
    color: #fff;
    background-image: url(../image/icon_lang/repair.jpg);
    background-size: contain;
    border-radius: 5px;
    overflow: hidden;
}

.guarantee__title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 28px;
}

.guarantee__title-decor{
    color: #ffde00;
    display: block;
}

.guarantee__text{
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    z-index: 2;
}

.newsletter {
    display: flex;
    flex-direction: column;
    padding:22px 20px 22px 20px;
    max-width: 270px;
    background: url(../image/icon_lang/mail.jpg);
    color: #f0eeee;
    border-radius: 5px;
    overflow: hidden;
}

.newsletter__title {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 28px;
    line-height: 26px;
}

.newsletter__title-decor{
    color: #ffde00;
}

.newsletter__text {
    font-size: 12px;
    color: #666666;
    font-weight: 600;
    margin-bottom: 23px; 
}

.newsletter__mail-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    overflow: hidden;
    border-radius: 35px;
    background-color: #181818;
    padding-left: 10px;
    border-top: 2px solid #0d0d0d;
    border-bottom: 2px solid #292929;
}

.newsletter__input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 170px;
}

.newsletter__button {
    position: relative;
    right: 6px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #ffde00;
}

.newsletter__button::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    transform: translate(-50%,-50%) rotate(-45deg);
    border-bottom: 2px solid #282828;
    border-right: 2px solid #282828;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}
.advantages__items {
    display: flex;
    justify-content: space-between;
    max-width: 270px;
}
.advantages__icon {
    height: 40px;
    width: 70px;
    margin-right: 15px;
    fill: #434343;
    stroke:#3057d6;
}

.advantages__title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

.advantages__text {
    font-size: 13px;
    color: #818690;
}

/* section CATEGORIE */

.categorie__wrap{
    border-bottom: 2px solid #ebecef;
}

.categorie__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categorie__box{
    position: relative;
    max-width: 570px;
    margin-bottom: 30px;
    border-radius: 5px;
    line-height: 0;
    overflow: hidden;
}

.categorie__img{
    object-fit: contain;
}

.categorie__title{
    position: absolute;
    left: 20px;
    bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}

/* card goods */

.card-goods__wrap{
    background-color: #f7f8fb;
    padding-top: 30px;
}

.tabs{
    max-width: 350px;
    margin-bottom: 20px;
}

.tab{
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 0 14px 15px 14px;
}

.tab::before{
    content: "";
    position: absolute;
    background-color: #adb4c0;
    left: auto;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    border-radius: 2px;
    transition: width .5s;
}

.tab:hover:before{
    left: 0;
    right: auto;
    width: 100%;
}

/* card */

.card {
    position: relative;
    max-width: 270px;
    background-color: #fff;
    border-radius: 5px;
    padding: 22px;
}

.card::before {
    content: "top";
    position: absolute;
    font-size: 10px;
    color: #d24a43;
    right: 22px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}
.card::after {
    content: "sale";
    position: absolute;
    font-size: 10px;
    color:  #7cb91e;;
    right: 22px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
}

.card--sale.card::after {
    display: block;
}

.card--top.card::before {
    display: block;
}

.card--top.card--sale.card::after {
    top:44px;
}



.card__image {
    line-height: 0;
    margin-bottom: 30px;
}

.card__img{
    max-width: 100%;
    object-fit: contain;
}
.card__categorie {
    font-size: 13px;
    color: #818690;
    font-weight: 600;
    margin-bottom: 10px;
}
.card__name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    height: 33px;
    justify-self: flex-start;
}
.card__rating {
    margin-bottom: 20px;
}

.card__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    margin-bottom: 20px;
    height: 35px;
}


.tab-content{
    display: flex;
    justify-content: space-between;
}

/* CARD__PRICE (Old prace or new or sale) */

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 270px;
    height: 415px;
}

.card__price{
    display: flex
}

.card__price-sale{
   align-self: center;
   font-size: 10px;
   font-weight: 600;
   color: #fff;
   margin-right: 7px;
   background-color: red;
   padding: 11px 7px 11px 7px;
   border-radius: 4px;
   position: relative;
   display: none;
}

.card__price-sale::after{
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 50%;
    right: -3px;
    background-color: red;
    transform: translateY(-50%) rotate(-45deg);
}

.card__price-old{
    font-size: 11px;
    color: #9a9a9a;
    font-weight: 600;
    margin-bottom: 3px;
    display: none; 
}

.card__price-old::before{
    content:"$";
}

.card__price-current{
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.card__price-current::before{
    content:"$"; 
}

/* CARD "Avialible or not" */

.card__avalible{
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 600;
    color: #818690;
}

.card__avalible-true{
    background: url(../icons/icon_social/check-solid.svg) no-repeat left center;
    padding-left: 18px;
}
 
.card__avalible-false{
    background: url(../icons/icon_social/times-solid.svg) no-repeat left center;
    padding-left: 18px;
    align-self: center;
    display: none;
}

.card--false .card__inner{
    justify-content: center;
    align-items: center;
}

.card--false .card__price {
    display: none;
}

.card--false .card__avalible-false{
    display: flex;
}

.card--false .card__avalible-true{
    display: none;
}

.card--sale .card__price-old{
    display: block;
}

.card--sale .card__price-current{
    font-size: 18px;
}

.card--sale .card__price-sale {
    display: flex;
}

.card__btn-cart {
    border: none;
    border-radius: 40px;
    background-color: #ffde00;
    padding: 15px;
    align-self: flex-start;
}

.card__btn-cart-text{
    text-transform: uppercase;
    font-family: 'Montserrat-Regular';
    font-size: 12px;
    font-weight: 600;
    padding-left: 25px;
    background-image: url(../icons/icon_social/shopping-cart.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left center;
}
